<section aria-labelledby="liveselect_testing" class="card bg-base-100 shadow-xl">
  <.form :let={f} for={%{}} phx-change="change" phx-submit="save">
    <p><strong>DaisyUI Testing</strong></p>

    <div class="form-control">
      <label class="label cursor-pointer">
        <span class="label-text">DaisyUI Toggle</span>
        <input type="checkbox" id="toggle" class="toggle" checked />
      </label>
    </div>
  </.form>
</section>
